
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


body{
    font-family:"Outfit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--clr-lightgray);
}

.card-container{
    padding: 1.6rem 1.6rem 4rem;
    background-color: white;
 
    height: fit-content;
    max-width: 30rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.107);
}

.card-img{
    width: 100%;  
    border-radius: 0.8rem;  
}

.card-text{
    display: flex;
    flex-flow: column nowrap;
    gap: 1.6rem;
    align-items: center;
    text-align: center;
}


.card-heading{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    color: #1f314f;
}
.card-detail{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: -0.019rem;
    line-height: 1.8rem;
    color: #7d889e;


}